kind: Service
apiVersion: v1
metadata:
# Set your user name
  name: user26-hello-world
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '8080'
    prometheus.io/path: '/metrics'
spec:
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
# Set your user name
    app: user26-hello-world